name: macos

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

permissions: read-all

jobs:
  build:
    runs-on: ${{ matrix.config.os }}
    strategy:
      fail-fast: false
      matrix:
        config:
        - { os: macos-latest } # track latest macOS runner (recommended)

    name: "${{ matrix.config.os }}"
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Configure libraries
      run: |
        brew update
        brew install openssl@3

    - name: Build Release
      run: |
        rm -rf build
        mkdir build
        cd build
        cmake .. -DCMAKE_BUILD_TYPE=Release
        cmake --build . -j 4 --config Release
        ctest --output-on-failure -C Release

    - name: Build Debug
      run: |
        rm -rf build
        mkdir build
        cd build
        cmake .. -DCMAKE_BUILD_TYPE=Debug
        cmake --build . -j 4 --config Debug
        ctest --output-on-failure -C Debug

#    - name: Bazel Test
#      working-directory: test
#      run: bazelisk test //... --config=ci
