name: windows

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

permissions: read-all

jobs:
  build:
    runs-on: ${{ matrix.config.os }}
    strategy:
      fail-fast: false
      matrix:
        config:
 #       - { os: windows-2019, vs: "Visual Studio 2019" } # https://github.com/actions/virtual-environments/blob/main/images/win/Windows2019-Readme.md#visual-studio-enterprise-2019
        - { os: windows-2022, vs: "Visual Studio 2022" } # https://github.com/actions/virtual-environments/blob/main/images/win/Windows2022-Readme.md#visual-studio-enterprise-2022
    
    env:
      VCPKGGITCOMMITID: 4065f37d0a6628ef17cf6ee15385f9091f1075bc

    name: "${{ matrix.config.vs }}"
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive
      
    - name: Cache vcpkg
      uses: actions/cache@v4
      with:
        path: |
          vcpkg/archives
          vcpkg/packages
          vcpkg/installed
          vcpkg/buildtrees
          vcpkg/downloads
        key: vcpkg-${{ runner.os }}-${{ env.VCPKGGITCOMMITID }}-${{ hashFiles('**/vcpkg.json') }}
        restore-keys: |
          vcpkg-${{ runner.os }}-${{ env.VCPKGGITCOMMITID }}-
      
    - name: Setup vcpkg
      uses: lukka/run-vcpkg@v11
      id: runvcpkg
      with:
        # This one is not needed, as it is the default value anyway.
        # vcpkgDirectory: '${{ github.workspace }}/vcpkg'
        vcpkgGitCommitId: '${{ env.VCPKGGITCOMMITID }}'
        vcpkgJsonGlob: '**/vcpkg.json'

    - name: Build x64
      shell: bash
      run: |
        rm -rf build
        mkdir build
        cd build
        cmake -DCMAKE_TOOLCHAIN_FILE="${{ github.workspace }}\vcpkg\scripts\buildsystems\vcpkg.cmake" .. -A x64
        cmake --build . -j 4 --config Release
        ctest --output-on-failure -C Release
        cmake --build . -j 4 --config Debug
        ctest --output-on-failure -C Debug

 #   - name: Bazel Test
 #     working-directory: test
 #     run: bazelisk test //... --config=ci
